<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.androidShowPDFPlugin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>androidShowPDFPlugin</name>
	
	<js-module name="androidShowPDFPlugin" src="www/androidShowPDFPlugin.js">
		<clobbers target="cordova.plugins.androidShowPDFPlugin" />
	</js-module>
	
	<platform name="android">
	
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="androidShowPDFPlugin">
				<param name="android-package" value="cordova.plugin.androidShowPDFPlugin.androidShowPDFPlugin" />
			</feature>
		</config-file>
		
		<config-file parent="/*" target="AndroidManifest.xml">
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
		</config-file>
		
		<config-file parent="application" target="AndroidManifest.xml">
			<activity
				android:name="cordova.plugin.androidShowPDFPlugin.Main"
				android:exported="true">
			</activity>
		</config-file>
		
		<config-file target="res/values/strings.xml" parent="/resources">
			<string name="error_path">PDF Path Error</string>
		</config-file>
		
		<source-file src="src/android/androidShowPDFPlugin.java" target-dir="src/cordova/plugin/androidShowPDFPlugin" />
		<source-file src="src/android/showPDF/Main.java" target-dir="src/cordova/plugin/androidShowPDFPlugin"/>
		
		<source-file src="src/android/showPDF/layout/activity_androidshowpdfplugin_main.xml" target-dir="res/layout"/>
		
		<framework src="src/android/showPDF/rules.gradle" custom="true" type="gradleReference" />
		
		<hook type="after_prepare" src="src/android/showPDF/hook/configure-android.js"/>
	</platform>
</plugin>